body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: rgb(0, 0, 0);
}

#watch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(238, 14, 204);
    color: yellow;
    border-radius: 50%;
    font-family: monospace;
    font-size: 1.7rem;
}